<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FourDO.Emulation.Plugins.Input.DefaultInput" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FourDO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FourFreeO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FourDO.Emulation.Plugins.Input.DefaultInput>
            <setting name="UpKey" serializeAs="String">
                <value>W</value>
            </setting>
            <setting name="DownKey" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="LeftKey" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="RightKey" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="AKey" serializeAs="String">
                <value>J</value>
            </setting>
            <setting name="BKey" serializeAs="String">
                <value>K</value>
            </setting>
            <setting name="CKey" serializeAs="String">
                <value>L</value>
            </setting>
            <setting name="XKey" serializeAs="String">
                <value>Q</value>
            </setting>
            <setting name="PKey" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="LKey" serializeAs="String">
                <value>LShiftKey</value>
            </setting>
            <setting name="RKey" serializeAs="String">
                <value>Space</value>
            </setting>
        </FourDO.Emulation.Plugins.Input.DefaultInput>
        <FourDO.Properties.Settings>
            <setting name="BiosRomFile" serializeAs="String">
                <value />
            </setting>
            <setting name="BiosRom2File" serializeAs="String">
                <value />
            </setting>
            <setting name="GameRomFile" serializeAs="String">
                <value />
            </setting>
            <setting name="GameRomDrive" serializeAs="String">
                <value />
            </setting>
            <setting name="GameRomSourceType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GameRomLastDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowFullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowSnapSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowPreseveRatio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowFullScreenDevice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowImageSmoothing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoOpenGameFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoLoadLastSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveStateSlot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastPauseStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VoidAreaPattern" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VoidAreaBorder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AudioVolume" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="InactivePauseEmulation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InactiveIgnoreKeyboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectedOptionTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AudioBufferMilliseconds" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CpuClockHertz" serializeAs="String">
                <value>12500000</value>
            </setting>
            <setting name="RenderHighResolution" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
          <setting name="WindowAutoCrop" serializeAs="String">
            <value>False</value>
          </setting>
          <setting name="WindowScale" serializeAs="String">
            <value>False</value>
          </setting>
            <setting name="WindowScalingAlgorithm" serializeAs="String">
                <value>0</value>
            </setting>
        </FourDO.Properties.Settings>
    </userSettings>
</configuration>