<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FourDO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FourFreeO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FourDO.Properties.Settings>
            <setting name="BiosRomFile" serializeAs="String">
                <value />
            </setting>
            <setting name="GameRomFile" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoLoadGameFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoLoadLastSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveStateSlot" serializeAs="String">
                <value>0</value>
            </setting>
        </FourDO.Properties.Settings>
    </userSettings>
</configuration>