<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="88b247c8-ba6e-448a-9e0f-884df2537535" Name="4DO" Language="1033" Version="$(var.Version)" Manufacturer="Johnny" UpgradeCode="6d69c0aa-a899-4de1-8c3f-8e6e20759ec6">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

		<Feature Id="4DO" Level="1">
			<ComponentRef Id="4DO"/>
		</Feature>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLOCATION" Name="4DO">
					<Component Id="4DO" Guid="e3f71e1c-077c-4346-b46b-2d156800cf43">
						<!-- TODO: add here! -->
					</Component>
				</Directory>
			</Directory>
		</Directory>

		<Feature Id="ProductFeature" Title="4DO.Installer" Level="1">
			<ComponentGroupRef Id="Product.Generated" />
		</Feature>
	</Product>
</Wix>
